.navbar {
  background-color: var(--bs-dark);
  color: white;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: var(--container-width);
  margin: auto;
}

.navbar-brand p {
  font-size: 2rem;
  font-weight: 600;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav ul {
  display: flex;
}

.navbar-nav ul li {
  list-style: none;
  margin-right: 2rem;
}
